name: Build APK
on: [push, pull_request]

jobs:
  build-android:
    name: Build for Android
    runs-on: ubuntu-latest
    env:
      APP_ANDROID_ACCEPT_SDK_LICENSE: 1
      BUILDOZER_WARN_ON_ROOT: 0

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install Dependencies
        run: |
          sudo apt update
          sudo apt install -y git zip unzip openjdk-17-jdk python3-pip autoconf libtool pkg-config zlib1g-dev libncurses5-dev libncursesw5-dev libtinfo5 cmake libffi-dev libssl-dev

      - name: Install Buildozer
        run: |
          pip3 install --user --upgrade buildozer Cython virtualenv
          export PATH=$PATH:~/.local/bin/

      - name: Build with Buildozer
        run: |
          cd ${{ github.workspace }}
          buildozer android debug > buildozer_output.txt

      - name: Display Build Output
        run: |
          cat buildozer_output.txt

      - name: Upload artifacts
        uses: actions/upload-artifact@v2
        with:
          name: package
          path: bin/*.apk
